<body>
  <div class="imagen">
    <img src="https://th.bing.com/th/id/R.981a62d0ab544c771a6106c261d5debe?rik=gOwHVAkcxJLXaQ&pid=ImgRaw&r=0" alt="luismy">
  </div>
  <div class="texto">
    <h3>Luis Miguel Gallego Basteri, conocido como Luis Miguel, es un cantante y productor mexicano. Reconocido por su poderosa voz y su presencia escénica, es uno de los cantantes más exitosos de la música en español. Ha vendido alrededor de 100 millones de discos en todo el mundo, ha cantado en múltiples géneros y estilos, incluyendo canciones pop, baladas, boleros, tangos, jazz, big band y mariachi.</h3>
  </div>
</body>
